header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-bottom: 10px solid #071013;
    padding: 10px 20px;

}

nav {
    background-color: #000;
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #23B5D3;
    font-size: 20px;
    font-family: "Helvética", Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before {
    content: "";
    display: inline-block;
    background-color: #9aa0a8;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}



h1 {
    font-family: "Press Start 2p";
    color: #fff;
    border:  1px solid #000;
    text-shadow: 5px 5px 0px #23B5D3 ;
}



